<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
    <label for="landmark_name">Enter a name:</label>
    <input type="text" id="landmark_name" name="landmark[name]">
    <label for="landmark_year_completed">Enter a name:</label>
    <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
    <input type="submit" value="Create New Landmark">
</form>

<!-- add content here -->

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
