<h1>Create a New Landmark</h1>

<p>This page allows you to create a new landmark with it's associated figures</p>

<form method="post" action="/landmarks">

  <label for="landmark_name">Name: </label>

  <input id="landmark_name"
    type="text"
    name="landmark[name]"
    placeholder="eg. Lincoln Memorial"
  />

  <label for="landmark_year_completed">  Year Completed: </label>

  <input id="landmark_year_completed"
    type="text"
    name="landmark[year_completed]"
    placeholder="eg. 1922"
  />

  <br>

  <h3>Choose a figure:</h3>

  <% @figures.each do |figure| %>

    <div>
      <input id="figure_<%= figure.id %>"
        type="checkbox"
        name="landmark[landmark_ids][]"
        value="<%= figure.id %>"
      />

      <label for="figure_<%= figure.id %>"><%= figure.name %></label>
    </div>

  <% end %>

  <br>

  <h3>Or, Create a New figure: </h3>

  <label for="figure_name"><h3>Name:</h3></label>

  <input id="figure_name"
    type="text"
    name="figure[name]"
    placeholder="eg. Abraham Lincoln"
  />

  <br>
  <br>

  <input type="submit" value="Create New Landmark" />

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
