<h1>A List of Figures</h1>

<p>This page has a list of all figures our users have created.</p>

<ul>
<% @figures.each do |f| %>
  <li>
    <%= f.name %> ||
    <a href="/figures/<%= f.id %>">view</a> | 
    <a href="/figures/<%= f.id %>">edit</a>
  </li>
<% end %>
</ul>
